.tabContent {
    display:none;
}

.graph-container {
    /* background-color: #949D6A; comment this */
    height: 500px;
}

.nav-link {
    font-family: 'Lato';
    color: #3D3028;
}

.dropdown, .form-check-inline {
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 6px;
}

.dropdown .btn {  
    background-color: #ff9999 !important;
    color:  #3D3028 !important;
    font-family: 'Roboto Condensed';
}

.form-check-label {
    font-family: 'Roboto Condensed' !important;
}

.nav-item .active {
    color: #949D6A !important;
}

#graph-whole {
    margin-top: 60px;
}

.inline{
    margin-top: 5px;
}
    
.material-icons{
    border-radius: 5px;
}  

.dropdown-item:hover{
    background-color: #ff9999;
}

.tab-content{
    position: relative;
}

.graph_ins{
    position: absolute;
    top: 0;
    right: 0; 
    background-color: transparent;
    border: none;
}

.ui-draggable .ui-dialog-titlebar{
    background-color: #ff9999;
    color: #f3f3f3;
}

.ui-dialog .ui-dialog-content p{
    color: #3D3028;
    font-size: 14px;
}

.ui-dialog .ui-dialog-titlebar-close{
    content: '\f00d';
    color: black;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff9999;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }