body {
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
}

.row {
    margin-top: 50px;
    margin-bottom: 120px;
}

form img {
    width: 50px;
    height: 50px;
    
}

form {
    margin: 100px 50px 0px 50px;
}

form button {
    width: 150px !important;
}

.col-7 img {
    height: 75%;
    width: 77%;
    margin-left: 100px;
}

.md-form {
    margin-bottom: 30px;
}
