.table-header, .table-count, .modal-title, #header-title {
    font-family: 'Lato';
}

.table-content, .modal-body, #example_info, #header-title small, small, .dropdown-toggle {
    font-family: 'Roboto Condensed' !important;
}

#header-title small {
    font-size: 17px;
}

#header-title {
    margin-bottom: 70px;
}

.btn-main, #example_previous {
    background-color: #FF9999;
    font-family: 'Roboto Condensed'
}

td .btn-row {
    background-color: none;
    padding: 0px !important;
}

.page-item.active a {
    background-color: #FF9999 !important;
    border: none !important;
    color: #3D3028 !important;
}

.btn-secondary {
    font-family: 'Roboto Condensed';
}

.fa-trash-alt {
    margin-left: 10px;
}

#add-user-btn {
    margin: 10px;
}

#flat-row {
    background-color: #FFFAFA !important;
}

label {
    font-family: 'Roboto Condensed';
}

#table-container {
    margin-top: 50px;
}

/* CSS for Loading spinner */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ff9999;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }